<!-- templates/booking/prenotazione_form.html -->
{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    {% if prenotazione %}
        Modifica Prenotazione
    {% else %}
        Nuova Prenotazione per {{ hotel.nome }}
    {% endif %}
{% endblock %}

{% block content %}
    {% if prenotazione %}
        <h2>✏️ Modifica Prenotazione per: {{ hotel.nome }}</h2>
        <p>Cliente: {{ prenotazione.cliente }}</p>
    {% else %}
        <h2>🏨 Nuova Prenotazione per: {{ hotel.nome }}</h2>
    {% endif %}

    {% crispy form %}
    
    <a href="{% url 'hotel:hotel_detail' hotel.pk %}" class="btn btn-secondary mt-3 ms-2">Annulla</a>
{% endblock %}